
@use 'variables' as v;


html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal ;
    height: 100%;
}
p {
    color: v.$negro;
   
}

a {
    text-decoration: none;
    margin: 0;
}

img,
picture {
    width: 100%;
    display: block;
}



