@use 'variables' as v;
.subtitulo{
    font-size: .5em;
    
}
.btn--slim{
    font-size: 1rem !important  ;

}
// .subtitulo__slim{
//     font-size: .6em;
// }
 .titulo{
     padding: .5rem;
    font-size: 2rem;
     border-radius: .1rem;
     background-color: v.$azul;
     color: v.$blanco;
     font-weight: bold;
     text-align: center;
 }

 .resetBtn{
    border: none;
 }