@use '../base/mixins' as m;
@use '../base/variables' as v;
.navbar {
    background-color: v.$naranja;
 
}

.active{    
    font-weight: bold !important;
    color: v.$blanco !important;
}


.contenedorBarraNavegacion{
    
    display: flex;
    justify-content: center !important;

    .navbar-collapse{
        
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;

        text-align: center;
        margin-top: 1rem;
        @include m.tablet{
            margin-top: 0rem;
           flex-direction: row;
           justify-content: space-between ;
        }
        
    }
    
}

.navbar-brand{
    margin: 0rem !important;
    picture{
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;
        img{
            
            height: 100%;
            scale: 1.5;
            transition: scale .2s ease-in-out;
        }

        &:hover img{
            scale: 1.8;
            transition: scale .2s ease-in-out;
        }
    }
}